<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2"
          name="F:/work/Workspace/Testing/WebDriverDemo/src/test/java/testng/TestNGParameterDemo.java">
        <parameter name="MyName" value="Duy"></parameter>

        <classes>
            <class name="test.testng.TestNGParameterDemo"></class>
        </classes>
    </test>
</suite>